/* Write your code here. */
.card {
  height: 200px;
  width: 200px;
  border: 2px solid #ffffff33;
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 10px;
}
.image {
  height: 100px;
}
.button {
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}
